---
layout: base.njk
title: Home
permalink: /
---
<div class="post-list">
  {% for post in collections.posts %}
  <article class="post-entry">
    <time class="post-entry__date" datetime="{{ post.date | isoDate }}">{{ post.date | postDate }}</time>
    <h2 class="post-entry__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    {% if post.data.subtitle %}
    <p class="post-entry__subtitle">{{ post.data.subtitle }}</p>
    {% endif %}
  </article>
  {% endfor %}
</div>
