<header class="site-header">
  <a href="/" class="site-header__brand">
    <img src="/img/logo.svg" alt="" class="site-header__logo">
    <span class="site-header__title">{{ site.title }}</span>
  </a>
  <p class="site-header__tagline">{{ site.tagline }}</p>
</header>
